---
# Install jq on supported OS families
- name: Install jq on Debian/Ubuntu
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3
  apt:
    name: jq
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Enable EPEL repository on RHEL/CentOS
  yum:
    name: epel-release
    state: present
  when: ansible_os_family == "RedHat"

- name: Install jq on RHEL/CentOS
  yum:
    name: jq
    state: present
  when: ansible_os_family == "RedHat"