---
- name: Install jq using package manager
  package:
    name: jq
    state: present

- name: Check jq installation and version
  command: jq --version
  register: jq_check
  changed_when: false
  ignore_errors: yes

- name: Print jq version or missing message
  debug:
    msg: "{{ 'jq is installed: ' ~ jq_check.stdout if jq_check.rc == 0 else 'jq is NOT installed' }}"

- name: Fail if jq is not installed
  fail:
    msg: "jq installation failed on {{ inventory_hostname }}!"
  when: jq_check.rc != 0