---
- name: Install jq on Ubuntu/Debian
  apt:
    name: jq
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install jq on CentOS/RHEL
  yum:
    name: jq
    state: present
  when: ansible_os_family == "RedHat"