---
- name: Install unzip
  package:
    name: unzip
    state: present

- name: Download CloudWatch Agent
  get_url:
    url: "https://s3.amazonaws.com/amazoncloudwatch-agent/linux/amd64/latest/AmazonCloudWatchAgent.zip"
    dest: "/tmp/AmazonCloudWatchAgent.zip"

- name: Unzip CloudWatch Agent
  unarchive:
    src: "/tmp/AmazonCloudWatchAgent.zip"
    dest: "/tmp/"
    remote_src: yes

- name: Install CloudWatch Agent
  command: "/tmp/install.sh"
  args:
    chdir: "/tmp"

- name: Upload CloudWatch Agent configuration file
  template:
    src: "amazon-cloudwatch-agent.json.j2"
    dest: "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json"

- name: Start CloudWatch Agent
  command: "/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl \
            -a fetch-config \
            -m onPrem \
            -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json \
            -s"