name: Build Azure VMI and create VM instance with Golden Azure VMI

on:
  workflow_dispatch:
    inputs:
      image_version:
        description: "Enter image version (Major.Minor.Patch)"
        required: true
        default: "0.0.3"

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    env:
      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
      TENANT_ID: ${{ secrets.TENANT_ID }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup SSH Keys
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.PRIVATE_AZURE_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa.pub
          chmod 644 ~/.ssh/id_rsa.pub

      - name: Setup Packer
        uses: hashicorp/setup-packer@v3.1.0
        with:
          version: latest

      - name: Initialize and Validate Packer
        run: |
          packer init templates/azure-ubuntu.pkr.hcl
          packer validate templates/azure-ubuntu.pkr.hcl

      - name: Build AVI
        run: packer build -var "image_version=${{ github.event.inputs.image_version }}" templates/azure-ubuntu.pkr.hcl

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest

      - name: Validate and Apply Terraform
        run: |
          cd tf_modules
          terraform init
          terraform validate
          terraform apply -auto-approve \
            -var "az_pub_key=~/.ssh/id_rsa.pub" \
            -var "CLIENT_ID=${{ secrets.CLIENT_ID }}" \
            -var "CLIENT_SECRET=${{ secrets.CLIENT_SECRET }}" \
            -var "TENANT_ID=${{ secrets.TENANT_ID }}" \
            -var "SUBSCRIPTION_ID=${{ secrets.SUBSCRIPTION_ID }}"

      - name: Extract VM Public IP
        run: |
          cd tf_modules
          ip=$(terraform output -raw public_ip)
          echo "[azure_vm]" > ~/inventory
          echo "$ip ansible_user=azureuser ansible_ssh_private_key_file=~/.ssh/id_rsa" >> ~/inventory
          echo "Instance IP: $ip"

      - name: Run Unit Tests
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
        run: |
          ansible-playbook -i ~/inventory UnitTests/Unit_test.yaml \
            -e 'ansible_ssh_common_args="-o StrictHostKeyChecking=no"'