name: Build AMI and create VM instance with Golden AMI
on:
 push:
  branches: 
    - main 

jobs:
  packer_install_and_build:
    runs-on: ubuntu-latest
    env:
      az_pub_key: ${{ secrets.SSH_KEY }}
      service_principles: ${{secrets.AZURE_CREDENTIALS}}
      
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Login
        run: |
          subscription_id=$(jq -r .subscription_id <<< "$service_principles")
          client_id=$(jq -r .client_id <<< "$service_principles")
          tenant_id=$(jq -r .tenant_id <<< "$service_principles")
          client_secret=$(jq -r .client_secret <<< "$service_principles")
          echo "azure_subscription_id=$subscription_id" >> $GITHUB_ENV
          echo "azure_client_id=$client_id" >> $GITHUB_ENV
          echo "azure_tenant_id=$tenant_id" >> $GITHUB_ENV
          echo "azure_client_secret=$client_secret" >> $GITHUB_ENV

      - name: Setup Packer
        uses: hashicorp/setup-packer@v3.1.0
        with:
          version: latest

      - name: Initialize Packer
        run: packer init templates/azure-ubuntu.pkr.hcl

      - name: Validate Packer template
        run: packer validate templates/azure-ubuntu.pkr.hcl

      - name: Build AMI
        run: packer build templates/azure-ubuntu.pkr.hcl

      - name: Write public key to file
        run: |
          mkdir -p ~/.ssh 
          echo "$az_pub_key" > ~/.ssh/id_rsa.pub
          chmod 600 ~/.ssh/id_rsa.pub

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest  

      - name: Validate and provision infrastructure using terraform
        run: |
          cd tf_modules
          terraform init
          terraform validate
          terraform plan -var="az_pub_key=~/.ssh/id_rsa.pub"
          terraform apply -auto-approve -var="az_pub_key=~/.ssh/id_rsa.pub"

