name: Build AMI and create VM instance with Golden AMI
on:
 push:
  branches: 
    - main 

jobs:
  packer_install_and_build:
    runs-on: ubuntu-latest
    env:
      az_pub_key: ${{ secrets.SSH_KEY }}
      CLIENT_ID: ${{secrets.CLIENT_ID}}
      CLIENT_SECRET: ${{secrets.CLIENT_SECRET}}
      SUBSCRIPTION_ID: ${{secrets.SUBSCRIPTION_ID}}
      TENANT_ID: ${{secrets.TENANT_ID}}
      
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Packer
        uses: hashicorp/setup-packer@v3.1.0
        with:
          version: latest

      - name: Initialize Packer
        run: packer init templates/azure-ubuntu.pkr.hcl

      - name: Validate Packer template
        run: packer validate templates/azure-ubuntu.pkr.hcl

      - name: Build AMI
        run: packer build templates/azure-ubuntu.pkr.hcl

      - name: Write public key to file
        run: |
          mkdir -p ~/.ssh 
          echo "$az_pub_key" > ~/.ssh/id_rsa.pub
          chmod 600 ~/.ssh/id_rsa.pub

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest  

      - name: Validate and provision infrastructure using terraform
        run: |
          cd tf_modules
          terraform init
          terraform validate
          terraform plan -var="az_pub_key=~/.ssh/id_rsa.pub"
          terraform apply -auto-approve -var="az_pub_key=~/.ssh/id_rsa.pub"

