name: Build Azure VMI and create VM instance with Golden Azure VMI

on:
  workflow_dispatch:
    inputs:
      image_version:
        description: "Enter image version (Major.Minor.Patch)"
        required: true
        default: "0.0.3" 

jobs:
  packer_install_and_build:
    runs-on: ubuntu-latest
    env:
      az_pub_key: ${{ secrets.SSH_KEY }}
      CLIENT_ID: ${{secrets.CLIENT_ID}}
      CLIENT_SECRET: ${{secrets.CLIENT_SECRET}}
      SUBSCRIPTION_ID: ${{secrets.SUBSCRIPTION_ID}}
      TENANT_ID: ${{secrets.TENANT_ID}}
      
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Packer
        uses: hashicorp/setup-packer@v3.1.0
        with:
          version: latest

      - name: Initialize Packer
        run: packer init templates/azure-ubuntu.pkr.hcl

      - name: Validate Packer template
        run: packer validate templates/azure-ubuntu.pkr.hcl

      - name: Build AVI
        run: packer build -var "image_version=${{ github.event.inputs.image_version }}" templates/azure-ubuntu.pkr.hcl

      - name: Write public key to file
        run: |
          mkdir -p ~/.ssh 
          echo "$az_pub_key" > ~/.ssh/id_rsa.pub
          chmod 600 ~/.ssh/id_rsa.pub

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest

      - name: Validate and provision infrastructure using terraform
        run: |
          cd tf_modules
          terraform init
          terraform validate
          terraform plan -var "az_pub_key=~/.ssh/id_rsa.pub" \
          -var "CLIENT_ID=${{ secrets.CLIENT_ID }}" \
          -var "CLIENT_SECRET=${{ secrets.CLIENT_SECRET }}" \
          -var "TENANT_ID=${{ secrets.TENANT_ID }}" \
          -var "SUBSCRIPTION_ID=${{ secrets.SUBSCRIPTION_ID }}"
          terraform apply -auto-approve -var "az_pub_key=~/.ssh/id_rsa.pub" \
          -var "CLIENT_ID=${{ secrets.CLIENT_ID }}" \
          -var "CLIENT_SECRET=${{ secrets.CLIENT_SECRET }}" \
          -var "TENANT_ID=${{ secrets.TENANT_ID }}" \
          -var "SUBSCRIPTION_ID=${{ secrets.SUBSCRIPTION_ID }}"

      - name: Get Terraform Output and Set Environment Variables
        run: |
          
      - name: Extract VM IP
        run: |
          cd tf_modules
          ls
          ip=$(terraform output -raw instance_ip 2>/dev/null | grep -Eo '^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$')
          echo "$ip" > ~/inventory

      - name: UnitTest
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
        run: |
          ansible-playbook -i ~/inventory UnitTests/Unit_test.yaml \
            --private-key "${{ secrets.PRIVATE_AZURE_SSH_KEY }}" \
            --user azureuser \
            -e 'ansible_ssh_common_args="-o StrictHostKeyChecking=no"'
